.city-search {
  display: flex;
  align-items: center;
}

.text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #707070;
}

@media (max-width: 428px) {
  .text {
    font-size: 14px;
  }
}
